<div>
  <h1>Transactions</h1>
</div>
<div>
  <h2>Transactions for <%= @category.name %> category</h2>
  <% @category.payments.each do |payment| %>
    <p><%= payment.name %></p>
    <p><%= payment.amount %></p>
  <% end %>
</div>
<div class="">
  <%= link_to "Add new Transaction", new_payment_path(@category.id), class: "" %>
</div>